iframe.tool_launch {
  filter: invert(0.9) hue-rotate(180deg);
}

#walkme-player {
  display: none;
}

[data-emble-name="Banner"] {
  border-radius: 5px;
  div, span {
    border-radius: 5px;
  }
}

[data-resource-type="wiki_page.body"] {
  > div, > div > div, > div > div > div, > div > div > div > div {
    border-radius: 5px;
  }
}

.stem-bg-shadow {
  box-shadow: none !important;
}
