
/* ads */
ytm-paid-content-overlay-renderer, 
.YtmPaindContentOverlayLink, 
#player-ads,
#mealbar-promo-renderer,
yt-mealbar-promo-renderer,
ytd-ad-slot-renderer,
ytd-rich-item-renderer.ytd-rich-grid-renderer:has(> .ytd-rich-item-renderer > ytd-ad-slot-renderer) {
    display: none !important;
}

ytd-rich-grid-renderer #contents {
    & > ytd-rich-section-renderer {
        display: none !important;
    }
    & > ytd-rich-item-renderer[rendered-from-rich-grid][is-in-first-column] {
        margin-left: calc(var(--ytd-rich-grid-item-margin)/2) !important;
    }
}