/**
 * @name Darker DiscordNight
 * @version 0.9.5.8
 * @description personal overrides for KillYoy's theme
 * @source https://github.com/twhlynch/dotfiles/other/discord
 * @updateUrl https://raw.githubusercontent.com/twhlynch/dotfiles/master/other/discord/discord.css
 * @website 
 * @donate 
 * @patreon 
 * @invite 
 * @author twhlynch
 * @authorId 
 * @authorLink 
*/

:root {
    --Channel-Invite-Edit-Buttons: flex;

    --Chatbox-Gift-Button: flex;
    --Chatbox-GIF-Button: flex;
    --Chatbox-Stickers-Button: flex;

    --Chat-Super-Reaction-Button: flex;

    --Context-Menu-Emoji-Toolbar: flex;

    --Super-Reaction-Animations: flex;

    --Friends-List-Searchbar: flex;
}

:root, .theme-dark {
    --bd-blue: #0e54b0;
    --bd-blue-hover: #0049a8;
    --bd-blue-active: #00327e;

    --primary-600: #050505;
    --primary-645: #101010;
    --primary-630: #141414;
    --primary-700: #191919;

    --primary-dark-600-rgb: 7,7,7;
    --primary-dark-660-rgb: 11,11,11;

    --background-primary: #050505;
    --background-secondary: #101010;
    --background-tertiary: #141414;
    --bg-base-tertiary: #050505;

    --activity-card-background: #101010;
}

/* fade out media until hover */
div:has(>video):not([aria-label="Media Viewer Modal"] *), 
div:has(>[data-safe-src]):not([aria-label="Media Viewer Modal"] *), 
[data-type="sticker"]:not([aria-label="Media Viewer Modal"] *) {
    opacity: 0.6;
    &:hover {
        opacity: 1;
        transition: opacity 0.3s linear;
    }
}

/* revamp message previews */
[id^="message-accessories-"] > article > div > div:has([id^="message-accessories-"]) {
    padding-block: 0 !important;

    div > div > div > div > h3[aria-labelledby^="message-username-"] {
        margin-top: 0 !important;
    }
}
/* madness */
[id^="message-accessories-"]:has(> article > div > div [id^="message-accessories-"]) {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    gap: 5px !important;

    article {
        max-height: 240px;
        overflow-y: scroll;

        *:not([class^="file_"] *) {
            font-size: 96% !important;
            line-height: 1.4 !important;
        }
        [class^="file_"] {
            font-size: 120% !important;
        }
        
        video, img {
            max-width: 200px !important;
            max-height: 150px !important;
        }
        > div > div {
            padding: 0 !important;
        }
        div:has(> div > img[class^="avatar_"]) {
            padding-left: calc(var(--custom-message-margin-left-content-cozy) * 0.8) !important;
        }
        img[class^="avatar_"] {
            left: calc(var(--custom-message-margin-horizontal) / 2) !important;
        }
        [id^="message-content-"] {
            max-width: 200px !important;
        }
        [class^="embedAuthor_"] {
            > img, > span > span > span:not(.channelMention) {
                display: none;
            }
        }
        .vc-platform-indicator {
            display: none !important;
        }
        h3[aria-labelledby^="message-username-"] {
            margin-bottom: 0 !important;
        }
        [id^="message-reactions-"] {
            display: none !important;
        }
    }
    article div:has(video) {
        width: fit-content !important;
    }
}